extends layout

block content
  h1= title
  p Hi, #{userName}
  if(typeof(posts) !== 'undefined')
    each post in posts
      div.post
        div.title
          a(href="/"+post._id)!= post.title

  a(href="/create") Create post